
*
{
    box-sizing: border-box;
    transition: all 0.5s ease;
    outline: none;
}

body
{
    margin: 0;
    color: #be9079;
    font-family: "Trebuchet MS", "Arial", "sans-serif";
    line-height: 1.4;
    font-size: 85%;
}

.page
{
    width: 90%;
    padding: 0;
    margin: 0 auto;
    min-width: 640px;
    max-width: 1100px;
}

.clear
{
    clear: both;
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
    line-height: 0;
}

header.top
{
    min-height: 120px;
    padding: 3% 5px 5px 5px;
}

header.top .logo
{
    width: 479px;
    float: left;
}

header.top .shoppingCartBlock
{
    width: 150px;
    float: left;
    margin-top: 10px;
}

.shoppingCartBlock a.orderbutton
{
    padding: 4px 8px;
    margin-bottom: 5px;
    font-size: 100%;
    display: inline-block;
    text-shadow: 0 1px 1px #666;
    background: #9b6b51;
}

.shoppingCartBlock a.orderbutton:hover
{
    background: #d4893e;
}

.orderbutton
{
    font-size: 120%;
    padding: 7px 10px;
    background: #d4893e;
    color: #fff !important;
    text-decoration: none !important;
    text-shadow: 0 1px 1px #270f05;
    border-radius: 10px;
}

.orderbutton:hover
{
    background: #5a9b5a;
    cursor: pointer;
}

.content
{
    margin-right: 20px;
    padding: 10px 20px 20px 20px;
    min-height: 400px;
}

.left
{
    float: left;
    width: 50%;
}

.right
{
    float: right;
    width: 45%;
}

.footer
{
    padding: 10px;
    clear: both;
    font-size: 85%;
    text-align: center;
}

h1
{
    color: #d4893e;
    font-size: 200%;
    font-weight: normal;
    margin: 1px 0 10px 0;
}

h2
{
    color: #d4893e;
    font-size: 160%;
    font-weight: normal;
    margin: 10px 0 10px 0;
}

h3
{
    color: #9b6b51;
    font-size: 150%;
    font-weight: normal;
    margin: 10px 0 10px 0;
}

h4
{
    color: #d4893e;
    font-size: 120%;
    margin: 10px 0 10px 0;
}

h5
{
    color: #d4893e;
    font-size: 100%;
    margin: 10px 0 10px 0;
}

h6
{
    color: #d4893e;
    font-size: 100%;
    margin: 10px 0 10px 0;
}

a:link
{
    color: #d4893e;
    text-decoration: underline;
}

a:visited
{
    color: #d4893e;
    text-decoration: underline;
}

a:hover
{
    color: #fff;
    text-decoration: underline;
}

img.index_front
{
    margin-left: 0;
}

.topmenu
{
    margin-bottom: 10px;
}

.topmenu ul
{
    padding: 10px;
    margin: 0;
}

.topmenu ul li
{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.topmenu a
{
    color: #e2a081;
    font-size: 140%;
    padding: 10px 15px;
    text-decoration: none;
    margin-right: 3px;
    margin-left: 3px;
}

.topmenu a:hover
{
    color: #d4893e;
    text-decoration: underline;
}

.topmenu a.active
{
    color: #d4893e;
    background: #270f05;
    border-radius: 10px;
}

.topmenu a.active:hover
{
    color: #ffffff;
}

.toy
{
    width: 210px;
    height: 250px;
    float: left;

    margin: 0 4% 4% 0;
    padding: 5px;

    border-radius: 10px;
    text-align: center;
}

.toy:hover
{
    box-shadow: 0 0 7px #9b6b51;
}

.toy a.link
{
    font-size: 120%;
    text-decoration: none;
    color: #9b6b51;
}

.toy a.link:hover
{
    color: #d4893e;
}

.toy .block
{
    height: 200px;
    padding: 0;
    margin: 0;
}

.toy .block a
{
    text-decoration: none;
}

.toy .block img
{
    width: 190px;
}

.toy .buyitem
{
    width: 80px;
    border: 1px solid #270f05;
    background: none;
    float: right;
    margin-right: 5%;
    margin-top: -1%;
    padding: 4px;
    color: #9b6b51;
    text-decoration: none;
    font-size: 90%;
}

.toy .buyitem:hover
{
    border: 1px solid #9b6b51;
    background: #d4893e;
    color: #fff;
    text-decoration: none;
}

.sellItem
{
    float: right;
    width: 200px;
}

.sellItem a.buyitem:link, .sellItem a.buyitem:visited
{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    margin: 15px 10px 10px 10px;
    padding: 8px;
    background: #9b6b51;
    white-space: nowrap;
}

.sellItem a.buyitem:hover
{
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    margin: 15px 10px 10px 10px;
    padding: 8px;
    background: #270f05;
    white-space: nowrap;
}

.price
{
    color: #d4893e;
    font-size: 200%;
}

.toy .price
{
    font-size: 115%;
    width: 120px;
    background: none;
}

table.shop
{
    border-spacing: 0;
    border-collapse: collapse;
}

table.shop td
{
    border-bottom: 1px solid #9b6b51;
    padding: 7px 3px;
    margin: 0;
}

table.shop td.name
{
    border-bottom: 1px solid #9b6b51;
    padding: 7px 3px;
    margin: 0;
    color: #d4893e;
    font-weight: bold;
    white-space: nowrap;
}

table.order
{
    border-spacing: 0;
    border-collapse: collapse;
    width: 550px;
    margin: 0 auto;
}

table.order tr.other td
{
    padding: 5px 10px;
    border: 1px solid #4b1d0a;
    background: #4b1d0a;
    color: #fcccac;
    font-weight: bold;
    font-size: 110%;
    vertical-align: middle;
}

table.order td
{
    padding: 10px;
    border: 1px solid #4b1d0a;
    font-size: 120%;
}

table.order td p
{
    margin: 0;
    padding: 0;
    font-size: 120%;
}

input
{
    background: #270f05;
    border: 1px solid #9b6b51;
    padding: 7px;
    color: #be9079;
    border-radius: 10px;
}

input.qtty
{
    width: 45px;
    font-size: 85%;
    text-align: center;
    font-weight: bold;
}

#fsClipper
{
    width: 567px;
    overflow: auto;
}

.fsControl, #fsLinks a
{
    color: #bb7937;
    cursor: pointer;
    font-size: 15px;
}

#fsLinks .item_preview img
{
    border: 1px solid #3c110b;
    margin-bottom: 2px;
    width: 100px;
}

a.item_preview
{
    text-decoration: none;
}

.fsControl.disabled, #fsLinks a.current
{
    color: #000000;
    cursor: default;
    text-decoration: none;
}

.fsControl.disabled img
{
    color: #666666;
    border-image: 0;
}

#fsLinks a.current img
{
    border: 1px solid #d4893e;
    margin-bottom: 2px;
}

#fsScreen
{
    height: 421px ! important;
    background: no-repeat 50% 50%;
    position: relative;
    margin-left: -20px;
    top: 0;
}

.allgoods
{
    font-size: 80%;
    margin-top: 2%;
}

a.no_decoration
{
    text-decoration: none;
}

.center
{
display: inline-block;
    text-align: center;
    width: 100%;
}