

@media screen and (min-width: 1200px) {
	html {font-size:90%;}
	.w1600 {color: red;}
}

@media screen and (min-width: 900px) and (max-width:  1200px) {
	.w1100 {color: red;}
	html {font-size:90%;}
	.fixblock {width:100%;}
	
	header.top .txt {
		width: 30%;
	}
	
}
@media screen and (max-width:  900px) {

	.w700 {color: red;}
	
	
	html {font-size:90%;}
	.fixblock {width:100%;}
	
	
	.faqblockSide {font-size: 10px;}
	.faqblockSide .faq .block .question {
		padding-left: 5px;
		background: none;
	}
 
 	.dayaction {height: auto;}
 	.dayaction a.buyitem {
	font-size: 100%; 
	padding: 4px; 
	width: 50%;
	}
	.dayaction div.price {font-size: 100%;}


	header.top .txt {
		width: 50%;
		float: right;
		font-size: 90%;
	}	

	header.top div.basketblock {
		width: 50%;
		float: right;
	}
	
	.left {
		width: 100%;
		clear: both;
		transition: 0.5s;
	}

	.right {
		width: 100%;
		min-width: 240px;
		padding-top: 10px;
		border-top: 1px solid #d4893e;
		border-bottom: 1px solid #d4893e;
		transition: 0.5s;
	}
	
	
	
	
nav.top ul {
	height: 32px;
}


nav.top a {
	height:32px;
	font-size: 100%;  
	padding: 10px 15px;
}
	
	
	
}
	
@media screen and (max-width:  600px) {
	.w100 {color: red;}
	.faqblockSide {display: none;}
	
	header.top div.basketblock {
		width: 50%;
		float: right;
	}
	
	header.top .txt {
		width: 100%;
		float: right;
	}	
}